

div{
          width: 80%;
          margin: auto;
}

button{
          height: 40px;
          width: 70px;
          border-radius: 5px;
          background-color: chartreuse;
}


table td{
          border: 3px solid black;
          margin: 0px;
          height: 100px;
          width: 100px;
          font-size: 4em;
          padding: 0px;
          text-align: center;
}

.container{
          margin: 40px auto;
          display: flex;
          justify-content: center;
}